@media (min-width: 319px) {
  * {
    color: #1d2d44;
  }
  body {
    background-color: #3e5c76;
    margin: 0px;
    padding-top: 16px;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 767px;
    margin: 0 auto;
  }
  #result-holder {
    padding-bottom: 16px;
  }

  #result {
    width: 100%;
    box-sizing: border-box;
    height: 88px;
    font-size: 26px;
    border: none;
    border-radius: 5px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    background-color: #f0ebd8;
  }

  #calculator {
    justify-content: center;
  }

  .curencyrow {
    padding-bottom: 10px;
  }
  .calcrow {
    display: flex;
    justify-content: center;
    gap: 12px;
    width: 100%;
  }

  .cell {
    padding-bottom: 8px;
  }

  .cell input[type="button"] {
    min-width: 40px;
    padding: 10px;
    width: 100%;
    font-size: 28px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .textareaha {
    width: 100%;
    box-sizing: border-box;
    max-height: 200px;
    background-color: #f0ebd8;
    opacity: 50%;
    font-size: 20px;
    line-height: 1.5;
  }
  p {
    color: white;
    margin-bottom: 4px;
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .cell input[type="button"] {
    min-width: 60px;
    padding: 16px;
    width: 100%;
    font-size: 32px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  #result {
    width: 100%;
    box-sizing: border-box;
    height: 128px;
    font-size: 36px;
    border: none;
    border-radius: 5px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
  }
}
/*
@media (min-width: 1280px) {
} */
